.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 20fr 1fr;
  grid-auto-columns: 20fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header"
    "Image Image Image Text-2"
    "Text-1 Text-1 Text-1 Text-2";
}

.Header { grid-area: Header;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10vw;
  color:rgb(180, 192, 238);
  text-align: center;
 }

.Image { grid-area: Image; }

.Text-2 { grid-area: Text-2; 
font-family: 'Times New Roman', Times, serif;
font-size: 3vw;}

.Text-1 { grid-area: Text-1; }


